
@{
    ViewBag.Title = "Kyiv Smaty City Forum 2015";
}

<h2>@ViewBag.Title</h2>
<div class="row">

    <div class="col-md-6">
       


        <p>ДАТА ПРОВЕДЕННЯ: кінець вересня 2015</p>
        <p>
            Цільова аудиторія - це громадськість міста,
            громадські організації, бізнес партнери
            (вендори, локальні компанії, інвестори).
        </p>

        <p>
            В якості СПІКЕРІВ будуть запрошені: міська
            влада, міжнародні організації, представники
            фондів, громадські організації, міжнародні
            наукові центри, вендори.
        </p>

        <p>ЗАХОДИ будуть заплановані на 3 дні:</p>
        <ol>
            <li>
                1-й день - відкриття, заходи організовані тільки
                для кола учасників, виступ представників міської
                влади;
            </li>
            <li>
                2-й день - проведення конференцій, демонстрація
                рішень, виступи, презентації учасників, відкриття для
                широкої публіки;
            </li>
            <li>
                3-й - інтерактивні, розважальні заходи.
                У демо-зоні кожен з учасників зможе представити
                свої рішення для міста (інфраструктурні, організацій-
                ні) в рамках руху «Київ Смарт Сіті».
            </li>
        </ol>

        <p>
            КОНТАКТИ:
            Барило Максим, 
            тел.: (096) 767 39 09

        </p>

    </div>
    <div class="col-md-6">


        <blockquote><i>
    Друзі, сучасний запит суспільства підвів нас до того, що настав час активно рухатися вперед,
    бути в ногу з часом і допомогти місту Києву стати в один ряд з прогресивними містами світу. Тож,
    запрошуємо Вас взяти участь у головному заході IT-спільноти міста Києва - «Київ Смарт Сіті Форум
    2015».<br /><br />
    Наша мета—привернути увагу громадськості до руху «Київ Смарт Сіті», розповісти про наші
    проекти і показати реальну користь, яку зможе відчути на собі кожен житель Києва. Також, ми хоче-
    мо запросити IT-бізнес, розробників, виробників до побудови «розумного» міста, надати вільний прос-
    тір для спілкування, дати можливість показати учасникам свої розробки та рішення, які допоможуть
    зробити життя в місті Києві простіше, безпечніше, цікавіше.
    <br /><br />
    З повагою,<br />
    команда "KYIV SMART CITY"
</i>
        </blockquote>

    </div>
</div>
