@{
    ViewBag.Title = "Публичные обсуждения визии и концептуального видения Kyiv Smart City 2020";
}



<div class="row">
    <div class="col-md-8">

        <h2>@ViewBag.Title</h2>
        <p>
            За несколько месяцев прошедших с начала старта проекта разработки концепции КИЕВ СМАРТ СИТИ была проведена значительная работа с экспертами, представителями общественных инициатив города и волонтерами для формирования подходов к развитию «умного города» в столице.
        </p>
        <p>
            В результате дискуссий общественность Киева определила основные смарт приоритеты развития города. Также были получены результаты социологических исследований среди киевлян по видению идеального города.
        </p>
        <p>
            Теперь пришло время определить целостное видение Киева как смарт сити и ключевые цели его развития на следующие 5 лет. Видение города является одним из самых важных факторов реализации концепции и стратегии КИЕВ СМАРТ СИТИ и его должна определить общественность города.
        </p>
        <p>
            Именно для этого 10 сентября мы приглашаем всех сторонников команды КИЕВ СМАРТ СИТИ, всех заинтересованных и активных киевлян для обсуждения видения умного города для Киева и обсуждения ключевых решений, которые предложили наши эксперты по приоритетным направлениям.
        </p>
        <p>
            Нам очень важны Ваши идеи, которые помогут сделать Киев умным городом.
        </p>
        <p>
            <a href="https://docs.google.com/forms/d/1r2Q30snnuVvTF26bX0FcdqptvLx3WfdK_QStNbouqdE/viewform?c=0&w=1">Присоединяйтесь!</a>
        </p>
        <p>
            Ждем вас на стратегическую сессию в ЧАСОПИСЕ (библиотека) 10 сентября в 17-45.
        </p>

        @Html.Partial("_Disqus")
    </div>
    <div class="col-md-4">
        @Html.Partial("_Aside")
</div>
</div>