@{
    ViewBag.Title = "Публічне обговорення візії і концептуального бачення Kyiv Smart City 2020";
}



<div class="row">
    <div class="col-md-8">

        <h2>@ViewBag.Title</h2>
       

        <p>
            За останні місяці літа, з початку старту проекту розробки концепції Kyiv Smart City була проведена значна робота з експертами, представниками громадських ініціатив міста та волонтерами для формування підходів до розвитку «розумного міста» у столиці.
        </p><p>
            У результаті дискусій громадськість Києва визначила основні смарт пріоритети розвитку міста. Також були отримані результати соціологічних досліджень серед киян по баченню ідеального міста.
        </p><p>
            Тепер прийшов час визначити цілісне бачення Києва як смарт сіті і ключові цілі його розвитку на наступні 5 років. Бачення міста є одним з найважливіших чинників реалізації концепції та стратегії Kyiv Smart City і його повинна визначити громадськість міста.
        </p><p>
            Саме для цього 10 вересня ми запрошуємо всіх прихильників команди Kyiv Smart City, всіх зацікавлених і активних киян для обговорення бачення розумного міста для Києва та обговорення ключових рішень, які запропонували наші експерти за пріоритетними напрямами.
        </p><p>
            Нам дуже важливі Ваші ідеї, які допоможуть зробити Київ розумним містом.
        </p><p>
                <a href="https://docs.google.com/forms/d/1r2Q30snnuVvTF26bX0FcdqptvLx3WfdK_QStNbouqdE/viewform?c=0&w=1">Приєднуйтесь!</a>
</p><p>
            Чекаємо вас на стратегічну сесію в Часопис (бібліотека) 10 вересня в 17:45
        </p>


        @Html.Partial("_Disqus")
    </div>
    <div class="col-md-4">
        @Html.Partial("_Aside")
    </div>
</div>