
@{
    ViewBag.Title = "Дякуємо тобі за активність!";
}


    <div class="row">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>


                <p >
                   Ми зв'яжемось з тобою найближчим часом і розкажемо деталі співпраці.
                </p>


                

        </div>

    </div>

