@model IEnumerable<DevRainSolutions.KyivSmartCity.New.Models.Group>
@{
    ViewBag.Title = "Kyiv Smart City Hackathon";
    ViewBag.IsMain = true;
}

<h3>Date & Place</h3>
<p>September 05, 10:00 – September 06, 18:00<br />
Place: FreeGen SPACE<br />
12, Baseina Street, Kyiv</p>

<h3>About hackathon</h3>
<p>
    The goal – to gather under the same roof the talented people, concerned about the future of Kyiv city. The mission of the Hackathon Project is development of the services and mobile applications on the basis of the open data and API of the city with purpose to improve the life of Kyiviens and to promote the development of Kyiv as “smart city”.
</p>

<p>
    Whom this event is meant for?

</p>
<ul>
    <li>
        the developers, ІТ professionals and designers, ready to join the development of services and mobile applications for the city;
    </li>
    <li>
        the representatives of the press;
    </li>
    <li>the non-governmental organisations, requiring the IT assistance or expertise to improve their own projects;

    <li>
        the ІТ companies, wishing to be the partners or sponsors of the event, as well as the companies, experienced in development and implementation of the Smart City projects and wishing to share their own experience;
    </li>
    <li>the volunteers and activists.</li>
</ul>


<p>

    We have developed the interesting and highly topical program, and You may rest assured, that You will have fun with it. Particularly, within the scope of this event You will have the opportunity to:

</p>
<ul>
    <li>meet the ideologists of the Kyiv Smart City initiative;
    <li>
        develop the service or the mobile application of the basis of the open data, the API of the city or to realize Your own original idea;
    </li>
    <li>
        tell about Your idea, project or prototype and to hear the opinions of our experts;
    </li>
    <li>
        learn about the successful case stories of the Ukrainian cities, and of the most progressive cities of the world;
    </li>
    <li>have a lively time and to communicate with kindred spirits.</li>

</ul>

<h3>What Kyiv needs?</h3>
<p>EVERYTHIG, what may improve the everyday’s life of Kyiviens. It may be the guide for tourists,
    the schedule of the city transport, the map of the road works, the payment system for the
    municipal services, the monitoring system to control and supervise the work of the government
    officials and the municipal services, or the other smart solution, which will be really
    useful for city people.</p>

<h3>Registration</h3>
<p>
    The participation in event is free, You just need to <a href="http://goo.gl/forms/MjQSGcTHiX">register</a>.

</p>
<p>
    You can direct all Your questions at: info@devrain.com.
</p>
