
<hr />
<footer>
    <div class="row">
        <div class="col-md-6">
            <p>
                &copy; @DateTime.Now.Year - Kyiv Smart City
            </p>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <p>Powered by: <a href="http://devrain.com">DevRain Solutions</a></p>
        </div>
    </div>

</footer>