@*<div class="bottom-text indent-b">
        <div class="social-b r-fl">
            <ul class="social-likes list-line" data-counters="yes">
                <li class="vkontakte" title="Share link on VK">Вконтакте</li>
                <li class="facebook" title="Share link on Facebook">Facebook</li>
                <li class="twitter" title="Share link on Twitter">Twitter</li>
            </ul>
            <script type="text/javascript" src="/js/social-likes.min.js"></script>
        </div>
    </div>*@
<div class="margin10 indent-b">
    <div class="social-likes">
        <div class="facebook" title="Share link on Facebook">Facebook</div>
        <div class="twitter" data-via="appclbim">Twitter</div>
        <div class="vkontakte" title="Опубликовать ссылку во Вконтакте">Вконтакте</div>
        <div class="plusone" title="Опубликовать ссылку в Гугл-плюсе">Google+</div>
    </div>
</div>
