body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

textarea {
    height: 300px;
}

.subheader {
    color: gray;
}




.round {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
}


    .round.big, .big {
        width: 175px;
        height: 175px;
    }

  

    .round img {
        display: block;
      
        width: 175px;
        height: 175px;
    }

    .field-validation-error {
        color: red;
    }

    p.lead {
        color: white;
    }

    input[type=submit] {
        margin-top: 20px;
    }

  .navbar {
      padding: 10px 0;
      margin-bottom: 0;
      background: url(/Images/bg.png) top right no-repeat;
  }
 