<p>Вітаємо!</p>

<p>
    Команда Kyiv Smart City дякує Вам за цікавість до нашого проекту та бажання до нього долучитися.
    Вашу електронну адресу додано до нашої бази даних. Тепер Ви зможете стежити за новинами проекту,
    а також отримувати запрошення на громадські обговорення та експертні зустрічі.

<p>
    Якщо у Вас є цікаві проекти або пропозиції, звертайтеся за адресою: info@smart.kievcity.gov.ua.
</p>

<p>
    Наш сайт: http://www.smart.kievcity.gov.ua.
</p>

<p>Наша сторінка в Facebook: https://www.facebook.com/kyivsmatrcity.</p>
